.home > .list_item > div > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home > .list_item > div > div > div {
  margin: 1.5rem 0;
}

.home > .list_item > div > div > div > .square {
  appearance: none;
  border: 1px solid var(--register-form-desktop);
  background-color: #bdb5af;
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
}

.home > .list_item > div > div > div > .item,
.home > .list_item > div > div > div > .disabled {
  text-align: center;
  font-family: var(--font);
  font-size: 1rem;
  height: 4vh;
  min-width: 65vw;
  outline: none;
  letter-spacing: 0.1rem;
  background-color: var(--input-color);
  border: 1px solid var(--first-color);
  border-radius: 20px;
  box-shadow: 0px 3px 10px var(--first-color);
}

.home > .list_item > div > div > div > .disabled {
  pointer-events: none;
  border: none;
}

.home > .list_item > div > div > div > .item:focus {
  border: 1px solid var(--first-color);
  outline: none;
}

.home > .list_item > div > div > div > div {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

.home > .list_item > div > div > div > div > .unlocked,
.home > .list_item > div > div > div > div > .locked,
.home > .list_item > div > div > div > div > .delete {
  width: 6vw;
  height: 3vh;
  border: none;
  background: none;
  background-repeat: no-repeat;
}

.home > .list_item > div > div > div > div > .unlocked {
  background-image: url("../assets/checked.png");
}

.home > .list_item > div > div > div > div > .locked {
  background-image: url("../assets/edit.png");
}

.home > .list_item > div > div > div > div > .delete {
  background-image: url("../assets/delete.png");
}
