@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font: "Cardo, sans serif";
  --input-color: #efe7e1;
  --first-color: #d1c2b6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
}
