@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font: "Cardo, sans serif";
  --first-color: #cfc5bb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}
